<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Experience & Education</h2>
                    <h3 class="section-subheading text-muted">Main Stages</h3>
                    <!-- Important Milestones -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/datareply_dark.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>since 2016</h4>
                                    <h4 class="subheading">Full Time Data Science Consultant at <a href="https://www.linkedin.com/company/10475608">Data&nbsp;Reply</a></h4>
                                </div>
                                <div class="timeline-body">
                                  <p class="text-muted">
                                  Setting up (Big Data) data analysis prototypes. Currently focussing on <a href="#" data-toggle="tooltip" title="natural language processing">NLP</a>.
                                  </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/radboud.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014-2016</h4>
                                    <h4 class="subheading">M.Sc. in Mathematics "Applied&nbsp;Stochastics"</h4>
                                </div>
                                <div class="timeline-body">
                                  <p class="text-muted">
                                  Specialisation in probability theory and (Bayesian) statistics, for both theory and application.
                                  </p>
                                </div>
                                <hr>
                                <div class="timeline-heading">
                                    <h5>2015-2016</h5>
                                    <h5 class="subheading">Working at Startup <a href="http://trufflebit.com/">Trufflebit</a> </h5>
                                </div>
                                <div class="timeline-body">
                                  <p class="text-muted">
                                    Working as Python developer. Text parsing, web development and data visualisation.
                                  </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/uos.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013-2015</h4>
                                    <h4 class="subheading">M.Sc. in Cognitive Science</h4>
                                </div>
                                <div class="timeline-body">
                                  <p class="text-muted">
                                    Specialisation in computational neuroscience, artificial intelligence, robotics and philosophy of mind.
                                  </p>
                                </div>
                                <hr>
                                <div class="timeline-heading">
                                    <h5>2013-2014</h5>
                                    <h5 class="subheading">Robotics Studyproject</h5>
                                </div>
                                <div class="timeline-body">
                                  <p class="text-muted">
                                    Making a robot using the elevator to bring a muffin.<br/>Software: ROS, Python, C++.
                                  </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/uos.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011-2015</h4>
                                    <h4 class="subheading">B.Sc. in Mathematik/Informatik</h4>
                                </div>
                                <div class="timeline-body">
                                  <p class="text-muted">
                                    Introduction to computer science and mathematics, with focus on probability theory.
                                  </p>
                                </div>
                                <hr>
                                <div class="timeline-heading">
                                    <h5>2011</h5>
                                    <h5 class="subheading">Internship <a href="https://www.data-experts.de">Data Experts</a></h5>
                                </div>
                                <div class="timeline-body">
                                  <p class="text-muted">
                                    Software development in Java.
                                  </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/uos.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2010-2013</h4>
                                    <h4 class="subheading">B.Sc. in Cognitive Science</h4>
                                </div>
                                <div class="timeline-body">
                                  <p class="text-muted">
                                    Introduction into neuroinformatics and robotics, neuroscience and biology, psychology,
linguistics, computer linguistics and psycho linguistics in particular, philosophy, artificial
intelligence and more – in short, cognitive science.
                                  </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
